.cabeçalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url(/assets/Menu.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao:checked ~ .container__rotulo > .cabeçalho__menu-hamburguer{
    background-image: url(/assets/Menu\ Aberto.svg);
}

.container__botao:checked ~ .container__rotulo{
    background: var(--azul-degrade);
}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    z-index: 1000;
}

.lista-menu__titulo,
.lista-menu__item{
    background-color: var(--branco);
    padding: 1em;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}


.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__item__link{
    color: var(--azul-degrade);
    text-decoration: none;
    background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
}

.container__botao,
.container__titulo,
.opções,
.container__imagem__desktop p{
    display: none;
}



@media screen and (min-width: 1024px) {
    .container__titulo{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        font-weight: 400;
        display: block;
    }
    .container__titulo__negrito{
        font-weight: 700;
    }
    .opções{
        display: flex;
        width: 100%;
        justify-content: space-around;
        text-transform: uppercase;
    }
    .opções__link{
        text-decoration: none;
        color: var(--preto);
    }
    .cabeçalho{
        padding: 0 80px;
    }
    .opções__botao:checked ~.lista-menu{
        display: block;
        width: auto;
    }
    .opções__botao,
    .container__imagem-transparente,
    .cabeçalho__menu-hamburguer{
        display: none;
    }
    .opções__item{
        padding: 1em 1em;
    }
    .opções__botao:checked~ .opções__rotulo > .opções__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }
    .lista-menu__item:hover{
        background: var(--azul-degrade);
        color: var(--branco);
    }
}

@media screen and (min-width: 1728px) {
    .opções{
        display: flex;
        justify-content: start;
        text-transform: uppercase;
    }
    .opções__item{
        margin-left: 2em;
    }
    .container__imagem__desktop{
        display: flex;
        gap: 1em;
        width: max-content;
        align-items: center;
        text-decoration: none;
    }
    .container__imagem__desktop p{
        font-size: 20px;
        color: var(--preto);
        display: block;
    }
    .lista-menu{
        margin-left: 2em;
    }
    .lista-menu__item:hover{
        background: var(--azul-degrade);
        color: var(--branco);
    }
}


